In [49]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [50]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nelson Bay,AU,2021-07-22 06:43:32,-32.7167,152.1500,60.85,69,56,10.13
1,1,Provideniya,RU,2021-07-22 06:43:33,64.3833,-173.3000,50.11,66,75,11.18
2,2,Chuy,UY,2021-07-22 06:43:33,-33.6971,-53.4616,45.19,78,100,4.72
3,3,Boda,CF,2021-07-22 06:43:33,4.3189,17.4695,73.27,81,100,4.47
4,4,Bluff,NZ,2021-07-22 06:43:34,-46.6000,168.3333,46.80,67,8,9.93

In [51]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [52]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [53]:
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [54]:
# # HEATMAPS DO NOT PLOT NEG NUMBERS
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [55]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# add the geographic center of Earth in the form of latitude and longitude (30.0° N and 31.0° E). 
# add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Humidity

In [56]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Cloudiness

In [57]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind Speed

In [58]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# User Input

In [59]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [60]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Bambous Virieux,MU,2021-07-22 06:43:38,-20.3428,57.7575,75.22,56,20,16.11
13,13,Lleida,ES,2021-07-22 06:43:38,41.6167,0.6167,79.00,47,0,11.50
14,14,Balabac,PH,2021-07-22 06:43:39,7.9868,117.0645,85.87,71,46,16.55
19,19,Njeru,UG,2021-07-22 06:43:41,0.4186,33.1731,75.34,57,10,2.44
22,22,Saint-Philippe,RE,2021-07-22 06:43:43,-21.3585,55.7679,76.59,69,37,14.92
28,28,Belize,BZ,2021-07-22 06:43:45,17.2500,-88.7500,82.24,99,100,2.91
30,30,Tres Picos,MX,2021-07-22 06:43:46,15.8667,-93.5333,79.74,74,94,4.72
31,31,Bulgan,MN,2021-07-22 06:43:47,48.8125,103.5347,78.22,47,0,4.94
32,32,Worland,US,2021-07-22 06:43:47,44.0169,-107.9554,80.60,40,1,0.00
36,36,San Patricio,US,2021-07-22 06:43:49,28.0170,-97.5169,82.26,69,25,5.82

In [61]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [62]:
# If you have some rows with null values, you'll need to drop them using 
# the dropna() method at the end of your filtering statement when you are 
# creating the new DataFrame.

In [63]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
12  Bambous Virieux      MU     75.22 -20.3428   57.7575
13           Lleida      ES     79.00  41.6167    0.6167
14          Balabac      PH     85.87   7.9868  117.0645
19            Njeru      UG     75.34   0.4186   33.1731
22   Saint-Philippe      RE     76.59 -21.3585   55.7679
28           Belize      BZ     82.24  17.2500  -88.7500
30       Tres Picos      MX     79.74  15.8667  -93.5333
31           Bulgan      MN     78.22  48.8125  103.5347
32          Worland      US     80.60  44.0169 -107.9554
36     San Patricio      US     82.26  28.0170  -97.5169

In [64]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
13,Lleida,ES,79.00,41.6167,0.6167,Hotel Ramon Berenguer IV
14,Balabac,PH,85.87,7.9868,117.0645,Sing and Swing Lodge
19,Njeru,UG,75.34,0.4186,33.1731,2 Friends Guesthouse and Restaurant
22,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
28,Belize,BZ,82.24,17.2500,-88.7500,Villa San Juan
30,Tres Picos,MX,79.74,15.8667,-93.5333,HOTEL TRES PICOS
31,Bulgan,MN,78.22,48.8125,103.5347,Unitel Булган салбар
32,Worland,US,80.60,44.0169,-107.9554,Town House Motor Inn
36,San Patricio,US,82.26,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [66]:
# Add a heatmap of temperature for the vacation spots.
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [68]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))