## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("c:/My House/Bootcamp/API/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Abu Samrah,SY,76.10,35.3029,37.1841,NaN
1,1,Chifeng,CN,84.74,42.2683,118.9636,Junyu Tiancheng Hotel
2,3,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
3,7,Maragogi,BR,73.92,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
4,8,Busselton,AU,64.04,-33.6500,115.3333,Observatory Guest House

In [15]:
vacation_df.count()

City_ID       452
City          452
Country       450
Max Temp      452
Lat           452
Lng           452
Hotel Name    407
dtype: int64

In [16]:
vacation_df = vacation_df.dropna()

In [17]:
vacation_df.count()

City_ID       405
City          405
Country       405
Max Temp      405
Lat           405
Lng           405
Hotel Name    405
dtype: int64

In [18]:
# 2. Using the template add the city name, the country code, the weather description and 
# maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "San Francisco"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Francisco"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Portland"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Laguna"]

In [29]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,640,San Francisco,US,74.84,37.7749,-122.4194,The Clift Royal Sonesta Hotel
1,150,Half Moon Bay,US,71.53,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,375,Portland,US,81.86,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,347,Laguna,US,91.24,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))